__pycache__/vilas.cpython-314.pyc
__pycache__/util.cpython-314.pyc
__pycache__/progresso.cpython-314.pyc
__pycache__/mundo.cpython-314.pyc
__pycache__/menu_interface.cpython-314.pyc
__pycache__/magias.cpython-314.pyc
__pycache__/lore.cpython-314.pyc
__pycache__/itens.cpython-314.pyc
__pycache__/inimigos.cpython-314.pyc
__pycache__/heroi.cpython-314.pyc
__pycache__/habilidades.cpython-314.pyc
__pycache__/eventos.cpython-314.pyc
__pycache__/combate_interface.cpython-314.pyc
__pycache__/combate.cpython-314.pyc
__pycache__/combate.cpython-314.pyc
